<template>
  <div id="create-product" class="container">
    <div class="card">
      <div class="progress indigo lighten-3" v-if="isProcessing">
        <div class="indeterminate indigo"></div>
      </div>
      <div class="form-container row">
        <div class="input-field col s6">
          <input
            placeholder="Product Name"
            id="product_name"
            type="text"
            v-model="formData.name"
            class="validate"
            :class="getValidateClass('name')"
            autocomplete="off"
            required
          />
          <label for="product_name">Name</label>
          <span class="helper-text error"> {{ getError("name") }}</span>
        </div>

        <div class="input-field col s6">
          <input
            placeholder="Product Price"
            id="product_price"
            v-model="formData.price"
            type="text"
            class="validate"
            :class="getValidateClass('price')"
            required
          />
          <label for="product_price">Price</label>
          <span class="helper-text error"> {{ getError("price") }}</span>
        </div>

        <div class="input-field col s6">
          <input
            placeholder="Product Quantity"
            id="product_quantity"
            type="text"
            v-model="formData.quantity"
            :class="getValidateClass('quantity')"
            class="validate"
            required
          />
          <label for="product_quantity">Quantity</label>
          <span class="helper-text error"> {{ getError("quantity") }}</span>
        </div>

        <!-- <div class="input-field col s6">
          <div class="select-wrapper" style="margin-top: 1px !important">
            <select
              id="product_categories"
              v-model="formData.categories"
              class="browser-default"
            >
              <option value="" disabled selected>
                Choose one or more categories
              </option>
              <option :value="id" v-for="{ id, name } in categories" :key="id">
                {{ name }}
              </option>
            </select> -->
        <select-field
          :data="categories"
          dataType="categories"
          default-option="Choose one or more categories"
          :value="formData.categories"
          isMulti
          @update="update('categories', $event)"
          :error="getError('categories')"
          label-text="Categories"
        ></select-field>
        <!-- <span class="helper-text error"> {{ getError("categories") }}</span>
          </div>
          <label for="product_categories">Categories</label>
        </div> -->

        <!-- <div class="input-field col s6">
          <label>
            <input
              type="checkbox"
              v-model="formData.isVehicle"
              id="vehicle-checkbox"
              name="isVehicle"
            />
            <span>Vehicle</span>
          </label>
        </div> -->
        <!-- <div class="input-field col s6">
          <select v-model="formData.condition">
            <option value="" disabled selected>Choose Condition</option>
            <option value="New">New</option>
            <option value="Used">Used</option>
            <option value="Refurbished">Refurbished</option>
          </select> -->
        <div class="input-field col s6">
          <div class="select-wrapper" style="margin-top: 1px !important">
            <select
              id="product_condition"
              v-model="formData.condition"
              class="browser-default"
              style="height: 3rem !important; margin-bottom: 8px; !important;"
            >
              <option value="" disabled selected>Choose Condition</option>
              <option value="New">New</option>
              <option value="Used">Used</option>
              <option value="Refurbished">Refurbished</option>
            </select>

            <span class="helper-text error"> {{ getError("condition") }}</span>
          </div>
          <label for="product_condition">Condition</label>
        </div>

        <div class="input-field col s6">
          <p>
            <label>
              <input
                type="checkbox"
                v-model="formData.isVehicle"
                id="vehicle-checkbox"
                name="isVehicle"
              />
              <span>Vehicle</span>
            </label>
            <!-- <span class="helper-text error"></span> -->
          </p>
        </div>
        <!-- <label>Condition</label>
          <span class="helper-text error"> {{ getError("condition") }}</span>
        </div> -->

        <div class="col s12" v-show="formData.isVehicle">
          <div class="row">
            <div class="input-field col s6">
              <div class="select-wrapper" style="margin-top: 1px !important">
                <select
                  id="product_brand"
                  v-model="formData.brand"
                  class="browser-default"
                  style="height: 3rem !important; margin-bottom: 8px; !important;"
                >
                  <option value="" disabled selected>Choose Brand</option>
                  <option
                    :value="item.id"
                    v-for="item in brands"
                    :key="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>

                <span class="helper-text error"> {{ getError("brand") }}</span>
              </div>
              <label for="product_brand">Brand</label>
            </div>

            <div class="input-field col s6">
              <div class="select-wrapper" style="margin-top: 1px !important">
                <select
                  id="product_model"
                  v-model="formData.model"
                  class="browser-default"
                  style="height: 3rem !important; margin-bottom: 8px; !important;"
                >
                  <option value="" disabled selected>Choose Model</option>
                  <option
                    :value="item.id"
                    v-for="item in modelsX"
                    :key="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>

                <span class="helper-text error"> {{ getError("model") }}</span>
              </div>
              <label for="product_model">Model</label>
            </div>

            <div class="input-field col s6">
              <div class="select-wrapper" style="margin-top: 1px !important">
                <select
                  id="product_type"
                  v-model="formData.type"
                  class="browser-default"
                  style="height: 3rem !important; margin-bottom: 8px; !important;"
                >
                  <option value="" disabled selected>Choose Type</option>
                  <option value="New">New</option>
                  <option value="Used">Used</option>
                  <option value="Refurbished">Refurbished</option>
                </select>

                <span class="helper-text error"> {{ getError("type") }}</span>
              </div>
              <label for="product_type">Type</label>
            </div>
            <div class="input-field col s6">
              <div class="select-wrapper" style="margin-top: 1px !important">
                <select
                  id="product_hand_drive"
                  v-model="formData.lrhd"
                  class="browser-default"
                  style="height: 3rem !important; margin-bottom: 8px; !important;"
                >
                  <option value="" disabled selected>Choose Hand Drive</option>
                  <option value="lhrh">Right Hand & Left Hand</option>
                  <option value="lh">Left Hand</option>
                  <option value="rh">Right Hand</option>
                </select>

                <span class="helper-text error"> {{ getError("lrhd") }}</span>
              </div>
              <label for="product_hand_drive">Hand Drive</label>
            </div>

            <!-- <div class="input-field col s6"> -->
            <!-- <select v-model="formData.brand">
                <option value disabled selected>Choose Brand</option>
                <option
                  :value="name.toLowerCase()"
                  v-for="({ name }, index) in brands"
                  :key="index"
                  v-html="name"
                ></option>

              </select> -->
            <!-- <select-field
              :data="brands"
              dataType="brands"
              default-option="Choose Brand"
              :value="formData.brand"
              label-text="Brand"
              @update="update('brand', $event)"
              :error="getError('brand')"
            ></select-field> -->
            <!-- <span class="helper-text error"> {{ getError("brand") }}</span>
            </div> -->
            <!-- <div class="input-field col s6"> -->
            <!-- <select v-model="formData.model">
                <option value="" disabled selected>Choose Model</option>
                <option
                  :value="name.toLowerCase()"
                  v-for="({ name }, index) in modelsX"
                  :key="index"
                  v-html="name"
                ></option>
              </select> -->
            <!-- <select-field
              :data="modelsX"
              dataType="model"
              default-option="Choose Model"
              :value="formData.model"
              label-text="Model"
              @update="update('model', $event)"
              :error="getError('model')"
            ></select-field> -->
            <!-- <span class="helper-text error"> {{ getError("modal") }}</span>
            </div> -->
            <!-- <select-field
              :data="['New', 'Used', 'Refurbished']"
              dataType="default"
              default-option="Choose Type"
              :value="formData.type"
              @update="update('type', $event)"
              :error="getError('type')"
              label-text="Type"
            ></select-field> -->
            <!-- <div class="input-field col s6">
              <select v-model="formData.lrhd">
                <option value="" disabled selected>Choose Hand Drive</option>
                <option value="lhrh">Right Hand & Left Hand</option>
                <option value="rh">Right Hand</option>
                <option value="lh">Left Hand</option>
              </select> -->
            <!-- <select-field
              :data="[
                { text: 'Right Hand & Left Hand', value: 'lhrh' },
                { text: 'Right Hand', value: 'rh' },
                { text: 'Left Hand', value: 'lh' },
              ]"
              dataType="hd"
              default-option="Choose Hand Drive"
              :value="formData.lrhd"
              @update="update('lrhd', $event)"
              :error="getError('lrhd')"
              label-text="Hand Drive"
            ></select-field> -->
            <!-- <span class="helper-text error"> {{ getError("lrhd") }}</span>
            </div> -->
            <div class="input-field col s6">
              <input
                placeholder="Vehicle Mileage"
                id="product_mileage"
                type="text"
                v-model="formData.mileage"
                class="validate"
                :class="getValidateClass('mileage')"
              />
              <label for="product_mileage">Mileage</label>
              <span class="helper-text error"> {{ getError("mileage") }}</span>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="Vehicle Color"
                id="product_color"
                type="text"
                v-model="formData.color"
                :class="getValidateClass('color')"
                class="validate"
              />
              <label for="product_color">Color</label>
              <span class="helper-text error"> {{ getError("color") }}</span>
            </div>

            <!-- <div class="input-field col s6">
              <input
                type="text"
                class="datepicker"
                placeholder="Manufactured Date"
                @change="handleDateChange"
                ud="product_manufacturd"
              />
              <label for="product_manufactured">Date</label>
              <span class="helper-text error">
                {{ getError("manufactured") }}</span
              >
            </div>
          </div> -->
            <div class="input-field col s6">
              <input
                type="text"
                class="datepicker"
                placeholder="Manufactured Date"
                id="product_manufacturd"
              />
              <label for="product_manufactured">Date</label>
              <span class="helper-text error">
                {{ getError("manufactured") }}</span
              >
            </div>
          </div>
        </div>
        <div class="input-field col s12">
          <textarea
            id="description"
            class="materialize-textarea"
            v-model="formData.description"
            placeHolder="Category Description"
            data-length="120"
          ></textarea>
          <label for="description">Description</label>
          <span class="helper-text error"> {{ getError("description") }}</span>
        </div>
        <div class="file-field input-field col s12">
          <div class="btn waves-effect waves-light indigo">
            <span>Browse</span>
            <input
              type="file"
              name="images[]"
              accept="image/x-png,image/jpeg"
              @change="handleImageChange"
              autofocus
              multiple
              required
            />
          </div>
          <div class="file-path-wrapper">
            <input
              class="file-path validate"
              type="text"
              placeholder="Upload one or more images"
            />
          </div>
          <span class="helper-text error" v-if="errorMessages['images']">
            {{ getError("images") }}</span
          >
          <div class="helper-text error" v-else>
            <div v-for="(error, key) in imagesError" :key="key">
              {{ error }}
            </div>
          </div>
        </div>
        <div class="col s12" style="display: flex; justify-content: flex-end">
          <div
            class="btn waves-effect waves-light indigo"
            @click="submitForm()"
            :style="{ pointerEvents: isProcessing ? 'none' : '' }"
          >
            Add Product
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Gets  CSRF Token
const __token = document.querySelector('meta[name="csrf-token"]').content;
import SelectField from "./SelectField.vue";
import M from "materialize-css";
const currentYear = moment(new Date()).format("YYYY");
export default {
  name: "CreateProduct",
  components: {
    SelectField,
  },
  props: {
    categories: {
      type: Object,
      required: true,
    },
    brands: {
      type: Array,
      required: true,
    },
    // models: {
    //   type: [Array, Object],
    //   required: true,
    // },
  },
  data() {
    return {
      formData: {
        name: "",
        price: "",
        quantity: "",
        categories: [],
        isVehicle: 0,
        condition: "",
        brand: "",
        model: "",
        type: "",
        lrhd: "",
        mileage: "",
        color: "",
        manufactured: "",
        description: "",
        images: [],
      },
      imagesError: {},
      datePicker: {
        instance: null,
        options: {
          yearRange: 40,
          defaultDate: new Date(),
          setDefaultDate: true,
          onSelect: (e) => {
            this.$set(this.formData, "manufactured", e);
          },
        },
      },
      errorMessages: {},
      selectedBrand: null,
      isProcessing: false,

      //   showVehicleOption: false,
    };
  },

  mounted() {
    // console.log(this.models);
    this.initDatePicker();
  },
  beforeDestroy() {
    if (this.datePicker.instance) {
      this.datePicker.instance.destroy();
    }
  },
  computed: {
    modelsX: function () {
      if (
        !this.selectedBrand ||
        this.brands[this.selectedBrand].models.length <= 0
      ) {
        return [];
      } else {
        // Fix return of undefined issue 
        return this.brands[this.selectedBrand].models;
      }
    },
  },
  watch: {
    "formData.brand": function () {
      this.selectedBrand = this.brands.findIndex(
        ({ id }) => id.toString() === this.formData.brand.toString()
      );
      this.$set(this.formData, "model", "");
      // console.log(this.selectedBrand);
    },
  },

  methods: {
    initDatePicker() {
      const el = this.$el.querySelector(".datepicker");
      this.datePicker.instance = M.Datepicker.init(el, this.datePicker.options);

      this.datePicker.instance.setDate(
        moment(new Date()).format("MMM DD, YYYY")
      );
    },

    getValidateClass(key) {
      if (this.formData[key] && !this.errorMessages[key]) {
        return "valid";
      } else if (this.errorMessages[key]) {
        return "invalid";
      }
      // errorMessages["name"] ? "invalid" : "";
    },
    getError(key) {
      if (this.errorMessages[key]) {
        return this.errorMessages[key];
      }
    },
    update(key, value) {
      // console.log(e);
      // console.log(value);
      this.$set(this.formData, key, value);
    },
    handleDateChange(e) {
      this.formData.manufactured = e.target.value;
      //   console.log(e.target.value);
    },
    handleImageChange(e) {
      this.$set(this.formData, "images", []);

      this.formData.images.push(...e.target.files);
      // for (let key in e.target.files) {
      //   this.formData.images.push(...e.target.files);
      // }
      // this.formData.images = e.target.files;
    },
    submitForm() {
      this.isProcessing = true;
      this.errorMessages = {};

      let data = new FormData();

      for (let field in this.formData) {
        if (typeof this.formData[field] === "object") {
          if (field === "images") {
            this.formData[field].forEach((item, index) => {
              data.append(`images[${index}]`, item);
            });
          } else if (field === "manufactured") {
            data.append(
              field,
              moment(new Date(this.formData[field])).format("MMM DD, YYYY")
            );
          } else {
            data.append(`${field}[]`, this.formData[field]);
          }
        } else {
          if (field === "manufactured") {
            data.append(
              field,
              moment(new Date(this.formData[field])).format("MMM DD, YYYY")
            );
          } else {
            data.append(field, this.formData[field]);
          }
        }
      }

      // console.log()

      // console.log(data.get("categories[]"));
      axios
        .post("/admin/products/create", data, {
          headers: {
            "X-CSRF-TOKEN": __token,
            "Content-Type": "multipart/form-data",
          },
        })
        .then((res) => {
          this.isProcessing = false;
          if (res.status === 201) {
            // console.log("jello");
            const data = res.data;
            if (data.message === "Product Created Successfully!") {
              // Clear form data
              for (let key in this.formData) {
                if (
                  typeof this.formData[key] === "object" ||
                  typeof this.formData[key] === "array"
                ) {
                  this.$set(this.formData, key, []);
                } else {
                  this.$set(this.formData, key, "");
                }
              }

              // Clear images text input
              this.$el.querySelector(".file-path").value = "";

              // Show success toast
              const toastHtml = `<span>${data.message}</span><a class="btn-flat white-text toast-action" href="/admin/products/${data.product_id}">View</a>`;
              M.toast({ html: toastHtml, classes: "green" });
            }
          }
          //  console.log(res);
        })
        .catch((err) => {
          this.isProcessing = false;
          const errors = err.response.data;

          for (let key in errors) {
            if (key === "categories.0") {
              this.$set(
                this.errorMessages,
                "categories",
                "The categories field is required."
              );
            } else {
              this.$set(this.errorMessages, key, errors[key][0]);
            }
          }

          // Get errors for each image uploaded
          if (Object.keys(this.formData.images).length > 0) {
            for (let imageKey in this.formData.images) {
              let key = `images.${imageKey}`;
              if (errors[key]) {
                this.imagesError[imageKey] = errors[key][0];
              }
            }
          }

          // console.log(err.response.data);
        });
      // console.log(this.formData);
    },
  },
};
</script>

<style scoped>
#create-product {
  margin-top: 6rem !important;
}

.card {
  position: relative;
  padding: 2rem 0 1rem 0;
}

.progress {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
}

.error {
  color: red;
}
</style>