<template>
  <div>
    <div class="card">
      <div class="card-content" style="padding-top: 0 !important; padding-bottom: 0 !important;">
        <div class="row right-align" style="margin: 0 !important;">
          <div class="col s12 m4 offset-m8" style="padding: 0 !important;">
            <input
              placeholder="Enter search term"
              id="first_name"
              type="text"
              v-model="searchQuery"
              class="validate"
            />
          </div>
        </div>
      </div>
      <div class="card-action">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone#</th>
              <th>Product</th>
              <th>Status</th>
              <th>Date Ordered</th>
              <th>Date Updated</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(order,index) in searchResults" :key="index">
              <td>{{index+1}}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.email}}</td>
              <td>{{order.phone }}</td>
              <td>{{order.product.name}}</td>
              <td>{{ order.status}}</td>
              <td>{{ formatDate(order.created_at)}}</td>
              <td>{{ formatDate(order.updated_at)}}</td>
              <td>
                <a
                  class="waves-effect waves-light btn-small indigo"
                  :href="'/admin/orders/'+ order.id"
                >View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrderList",
  props: {
    ordersData: Array
  },
  data() {
    return {
      orders: this.ordersData,
      searchQuery: null
    };
  },
  created() {
    // this.getSearchResults();
  },
  computed: {
    searchResults: function() {
      if (this.searchQuery) {
        return this.orders.filter(order => {
          return (
            order.name.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
            order.email
              .toLowerCase()
              .includes(this.searchQuery.toLowerCase()) ||
            order.phone
              .toLowerCase()
              .includes(this.searchQuery.toLowerCase()) ||
            order.product.name
              .toLowerCase()
              .includes(this.searchQuery.toLowerCase()) ||
            order.status.toLowerCase().includes(this.searchQuery.toLowerCase())
          );
        });
      } else {
        return this.orders;
      }
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format("MMM Do YY");
    }
  }
};
</script>

<style>
</style>
