<template>
  <div class="col s12 m2" style="padding: 0 0px 0 5px  !important">
    <div class="card" :class="cardColor">
      <div class="card-content white-text">
        <span>{{detailTitle}}</span>
        <p class="card-title">{{ formatValue ? formatValue : 'N/A'}}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["title", "value", "color"],
  data() {
    return {
      detailTitle: this.title,
      detailValue: this.value,
      cardColor: this.color
    };
  },

  created() {},
  computed: {
    formatValue: function() {
      if (typeof this.detailValue === "object") {
        return this.detailValue.length;
      } else {
        return this.detailValue;
      }
    }
  }
};
</script>

<style scoped>
.card-title {
  word-wrap: break-word;
}
</style>
