<template>
    <div>
        <div class="card">
            <div class="card-content" style="padding-top: 0 !important; padding-bottom: 0 !important;">
                <div class="row right-align" style="margin: 0 !important;">
                    <div class="col s12 m4 offset-m8" style="padding: 0 !important;">
                        <input placeholder="Enter proudct name" id="first_name" type="text" v-model="searchQuery"
                            class="validate">
                    </div>
                </div>
            </div>
            <div class="card-action">
                <table class="highlight centered responsive-table">


                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Order(s)</th>
                            <th>Quantity</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>

                        <tr v-for="(product,index) in searchResults" :key="index">
                            <td>{{index + 1}}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price}}</td>
                            <td>{{ product.orders.length}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{ formatDate(product.created_at) }}</td>
                            <td>{{ formatDate(product.updated_at) }}</td>
                            <td>

                                <a class="waves-effect waves-light btn-small  indigo"
                                    :href="'/admin/products/'+ product.id">View</a>

                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'ProductList',
        props: {
            productsData: Array
        },
        data() {
            return {
                products: this.productsData,
                searchQuery: null,
            }
        },
        created() {
            // this.getSearchResults();
        },
        computed: {
            searchResults: function () {

                if (this.searchQuery) {
                    return this.products.filter(product => {
                        return product.name.toLowerCase().includes(this.searchQuery.toLowerCase())
                    })
                } else {
                    return this.products
                }
            }
        },
        methods: {
            formatDate(date) {
                return moment(date).format("MMM Do YY");
            },

        }
    }

</script>

<style>

</style>
