<template>
  <div class="input-field col s6">
    <select v-model="selectedValue" v-if="dataType === 'default'">
      <option value="" disabled selected>{{ defaultOption }}</option>
      <option
        :value="text"
        v-for="(text, index) in data"
        :key="index"
        v-html="text"
      ></option>
    </select>
    <select v-model="selectedValue" v-if="dataType === 'hd'">
      <option value="" disabled selected>{{ defaultOption }}</option>
      <option
        :value="value.toLowerCase()"
        v-for="({ text, value }, index) in data"
        :key="index"
        v-html="text"
      ></option>
    </select>
    <select
      v-model="selectedValue"
      v-if="dataType === 'model' || dataType === 'brands'"
    >
      <option value="" disabled selected>{{ defaultOption }}</option>
      <option
        value="all"
        v-if="dataType === 'model' && data.length > 0 && usage === 'frontend'"
        v-html="'All Models'"
      ></option>
      <option
        value="not-found"
        v-else-if="dataType === 'model' && data.length <= 0"
        v-html="'Not Found'"
      ></option>

      <option
        :value="id"
        v-for="({ id, name }, index) in data"
        :key="index"
        v-html="name"
      ></option>
    </select>
    <select
      v-model="selectedValue"
      v-if="dataType === 'categories'"
      :multiple="isMulti"
    >
      <option value="" disabled selected>{{ defaultOption }}</option>
      <option
        :value="id"
        v-for="{ id, name } in data"
        :key="id"
        v-html="name"
      ></option>
    </select>
    <label v-if="showLabel">{{ labelText }}</label>
    <span class="helper-text error"> {{ error }}</span>
  </div>
</template>

<script>
import M from "materialize-css";

export default {
  name: "SelectField",
  props: {
    usage: {
      type: String,
      default: () => "backend",
    },
    data: {
      type: [Object, Array],
      required: true,
    },
    dataType: {
      type: String,
      default: () => "default",
    },
    labelText: {
      type: String,
      default: () => "",
    },
    defaultOption: {
      type: String,
      default: () => "Choose Option",
    },
    value: {
      type: [String, Number, Array, Object],
    },
    isMulti: {
      type: Boolean,
      default: () => false,
    },
    error: {
      type: String,
      default: () => "",
    },
  },
  data() {
    return {
      selectField: {
        instance: null,
        options: {},
      },
      selectedValue: this.isMulti ? [] : "",
      test: this.isMulti ? [] : "",
      showLabel: true,
    };
  },
  watch: {
    data: function () {
      if (this.dataType === "model") {
        setTimeout(this.$_initSelectField, 500);
      }
    },

    selectedValue: function () {
      this.updateValue();
    },

    value: function () {
      // console.log("Jello");
      // RESET SELECT FIELD VALUES
      if (
        this.isMulti &&
        this.selectedValue.length > 0 &&
        this.value.length <= 0
      ) {
        this.selectedValue = [];
        setTimeout(this.$_initSelectField, 100);
      } else if (!this.value && this.selectedValue) {
        this.selectedValue = "";
        setTimeout(this.$_initSelectField, 100);
      }
    },
  },
  mounted() {
    if (this.value) {
      this.selectedValue = this.value;
    }

    setTimeout(this.$_initSelectField, 100);
  },
  beforeDestroy() {
    this.destroyInstance();
  },
  methods: {
    $_initSelectField() {
      const el = this.$el.querySelector("select");
      this.selectField.instance = M.FormSelect.init(
        el,
        this.selectField.options
      );
    },
    destroyInstance() {
      if (this.selectField.instance) {
        this.selectField.instance.destroy();
      }
    },

    updateValue() {
      // console.log(e.target.value);
      this.$emit("update", this.selectedValue);
    },
  },
};
</script>

<style scoped>
.error {
  color: red;
}
</style>