<template>
  <div id="app">
    <div class="app-content">
      <headerNav />
      <router-view></router-view>
    </div>
    <div class="footer">
      <foot />
    </div>
  </div>
</template>

<script>
// import M from "materialize-css";
import headerNav from "./components/headerNav.vue";
import Foot from "./components/foot.vue";
import { mapState, mapActions } from "vuex";

export default {
  name: "App",
  props: ["auth"],
  components: {
    headerNav,
    Foot,
  },
  data() {
    return {};
  },
  mounted() {
    // Updates the isAuth global value
    this.setIsAuth(this.auth);

    // Gets categories from database
    this.getCategories();

    // Get products from database
    this.getProducts();
  },
  computed: {
    ...mapState({
      searchQuery: `searchQuery`,
    }),
  },
  methods: {
    ...mapActions(["setIsAuth", "getCategories", "getProducts"]),
  },
};
</script>

<style>
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.slider .active {
  background-color: #3f51b5 !important;
}
</style>
