<template>
  <div id="home" class="home">
    <slider></slider>
    <search></search>
    <!-- <catigorires></catigorires> -->
    <about></about>
  </div>
</template>

<script>
// @ is an alias to /src
import slider from "../components/slider.vue";
import search from "../components/search.vue";
import catigorires from "../components/categories";
import social from "../components/social.vue";
import about from "../components/about.vue";

export default {
  name: "Home",
  components: {
    search,
    slider,
    catigorires,
    social,
    about,
  },
};
</script>
<style scoped>
</style>