<template>
  <div>{{$route.params.id}}</div>
</template>

<script>
export default {
  name: "ProductDetails",
  data() {
    return {
      id: this.$route.params.id,
    };
  },
  mounted() {},
  methods: {},
};
</script>

<style>
</style>