<template>
  <div class="section store">
    <div class="nav-wrapper container hide-on-large-only">
      <div>
        <div class="input-field">
          <input v-model="searchQuery" class="squcir indigo lighten-3" id="search" type="search" />
          <!-- <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>-->
          <i class="centerClose material-icons" @click="performSearch()">search</i>
        </div>
      </div>
    </div>
    <div class="divider1hide-on-med-and-down div-transparent"></div>
    <thefilter v-if="showfilter"></thefilter>
    <div v-if="!showfilter" class="row">
      <div class="col s10 offset-s1" style="padding: 0!important;">
        <div class="row" style="margin: 0!important;">
          <div class="hide-on-med-and-down catWrapper">
            <a
              :href="`/store/${category.slug}`"
              class="btn rounded"
              v-for="category in categories"
              :key="category.id"
              :class="searchCategory === category.slug ? 'indigo' : 'grey'"
            >{{category.name}}</a>
            <a
              href="/store"
              class="btn rounded"
              :class="searchCategory === 'all' ? 'indigo' : 'grey'"
            >All</a>
            <!-- filter trigger -->
          </div>
          <div
            v-if="searchCategory == 'vehicles-&-accessories'"
            class="waves-effect white filterTrigger waves-light black-text btn"
          >
            filters
            <i class="material-icons right black-text">filter_alt</i>
          </div>
        </div>
      </div>
    </div>

    <div class="divider2 div-transparent"></div>

    <!-- Drop down trigger for categories on mobile -->
    <a
      class="hide-on-large-only right catposition dropdown-trigger btn transparent black-text"
      href="#"
      data-target="catDropdown"
    >
      Categories
      <i class="catDropdownicon right material-icons">keyboard_arrow_down</i>
    </a>
    <!-- Dropdown content for categories on mobile -->
    <ul id="catDropdown" class="dropdown-content">
      <li
        @click="goTo('')"
        :class="searchCategory === 'all' ? 'indigo' : 'white'"
        class="valign-wrapper catDropdownpos"
      >All</li>
      <li
        @click="goTo(category.slug)"
        :class="searchCategory === category.slug ? 'indigo' : 'white'"
        class="valign-wrapper left catDropdownpos"
        v-for="category in categories"
        :key="category.id"
      >{{category.name}}</li>
    </ul>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="row">
          <theproduct v-for="product in products" :key="product.id" :product-data="product"></theproduct>
        </div>
      </div>
    </div>

    <div class="no-results-container" v-if="products.length <= 0 ">
      <div class="img-wrapper">
        <img src="/assets/product-no-found.svg" alt srcset />
      </div>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";
// @ is an alias to /src
import thefilter from "../components/thefilter.vue";
import theproduct from "../components/theproduct.vue";
export default {
  name: "store",
  props: {
    products: {
      type: Array,
      default: () => {
        [];
      },
    },
    categories: {
      type: Array,
      default: () => {
        [];
      },
    },
    searchCategory: {
      type: String,
      default: "",
    },
  },
  components: {
    theproduct,
    thefilter,
  },
  data() {
    return {
      showfilter: true,
      dropdowns: {
        instances: null,
        options: {},
      },
      searchQuery: this.$route.query.sq,
    };
  },
  mounted() {
    this.$_initDropdown();
  },
  beforeDestroy() {
    this.dropdowns.instances.forEach((item) => {
      item.destroy();
    });
  },
  computed: {},
  methods: {
    filterswitch() {
      let value = this.showfilter ? true : false;
    },
    $_initDropdown() {
      const elems = this.$el.querySelectorAll(".dropdown-trigger");
      this.dropdowns.instances = M.Dropdown.init(elems, this.dropdowns.options);
    },
    updateSearchValue() {},
    goTo(slug) {
      window.location.href = `/store${slug ? "/" + slug : ""}`;
    },
    performSearch() {
      if (this.searchQuery) {
        window.location.href = this.$route.path + `?sq=${this.searchQuery}`;
      } else {
        window.location.href = "/store";
      }
    },
  },
};
</script>
<style scoped>
.row {
  margin-bottom: 0 !important;
}
.filterTrigger {
  width: 157.891px !important;
  top: 19px;
  left: 12px;
  padding: 0 10px !important;
}
.filterTrigger i {
  position: relative;
  right: 38px;
}
.productContainer {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  height: auto;
  justify-content: center !important;
  /* align-content: fl; */
  flex-flow: wrap !important;
  margin: 0 auto;
}
.box {
  width: 300px !important;
  margin: 30px 3vw 0 3vw !important;
}
.squcir {
  border-radius: 50px !important;
  height: 40px !important;
  border: solid rgb(53, 53, 53) 1px !important;
  padding-left: 41px !important;
  width: calc(100% - 40px) !important;
  padding-bottom: 2px !important;
  font-size: 22px !important;
}
.input-field i {
  margin-top: 10px !important;
}
.input-field .centerClose {
  margin-top: 8px !important;
}
.input-field > label {
  color: grey !important;
}
.catWrapper {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.catDropdownicon {
  font-size: 28px !important;
  margin-left: 0 !important;
}
.catWrapper a {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.catposition {
  position: relative !important;
  border: none !important;
  right: 15%;
  top: -18px;
}
.catDropdownpos {
  padding-left: 10px;
}
.divider1 {
  position: relative;
  margin: 10px 0 15px 0;
  height: 1px;
}
.divider2 {
  position: relative;
  margin: 10px 0 20px 0;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    #3f51b5,
    transparent
  );
}

.no-results-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 2em;
  padding: 0 1rem;
}

.img-wrapper {
  height: 400px;
  width: 400px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .box {
    width: 400px !important;
  }
}

@media screen and (min-width: 992px) {
  .img-wrapper {
    height: 600px;
    width: 600px;
  }
  .filterTrigger {
    top: 0 !important;
    margin-top: 20px;
  }
}
</style>
