<template>
  <div id="productPage" class="container section productPage row">
    <div class="col s12 m8 l6 offset-m2">
      <!-- <img class="focusedImg" :src="focusImageUri" alt="..." /> -->
      <h3 class="hide-on-med-and-up indigo-text">{{product.name}}</h3>
      <img class="materialboxed" width="100%" :src="focusImageUri" />
      <carousel
        :paginationPadding="5"
        :perPage="3"
        :navigationEnabled="true"
        :paginationSize="13"
        :paginationEnabled="false"
        class="card-image center"
        style="margin-top: 1rem;"
      >
        <slide class="slidePad center-align" v-for="image in product.images" :key="image.id">
          <img
            class="prodimage"
            :src="image.uri"
            :alt="image.id"
            @click="changeFocusImage(image.uri)"
          />
        </slide>
      </carousel>
    </div>
    <div class="col s12 m6 l5 offset-l1">
      <h3 class="hide-on-small-only indigo-text">{{product.name}}</h3>
      <h6 class="indigo-text">Price: {{addEnq(product.price)}}</h6>
      <h6 class="indigo-text">In Stock: {{product.quantity}}</h6>
      <p>{{product.description}}</p>
      <div v-if="product.vehicle" class="section">
        <h5 class="indigo-text">Vehicle Extras</h5>
        <h6>Mileage: {{noMilage(product.mileage)}}</h6>
        <h6>Manufactured date: {{formatDate(product.manufactured)}}</h6>
        <h6>Color: {{product.color}}</h6>
      </div>
    </div>
    <div>
      <a href class="btn right contBtn indigo" @click.prevent="openModal()">CONTACT SUPPLIER</a>
      <div ref="banner" :id="'modal'+ product.id" class="modal">
        <div v-if="isContacting" class="progress">
          <div class="indeterminate blue"></div>
        </div>
        <div class="modal-content" :class="{'is-contacting':isContacting}">
          <h4 class="center indigo-text">We Just Need A little Info</h4>
          <div class="section">
            <div class="row">
              <div
                class="validation-errors col-s12"
                v-for="(error,index) in formErrors"
                :key="index"
              >{{ error[0] }}</div>
              <input
                class="col s5 validate"
                type="text"
                v-model="formData.fname"
                placeholder="First Name:"
                required
              />
              <input
                class="col s5 offset-s2"
                type="text"
                v-model="formData.lname"
                placeholder="Last Name:"
                required
              />
              <input class type="text" v-model="formData.email" placeholder="Email:" required />
              <input
                class="col s5"
                type="number"
                v-model="formData.phone"
                placeholder="Phone:"
                required
              />
              <input
                class="col s5 offset-s2 disabled"
                type="text"
                :value="product.name"
                placeholder="Product:"
                readonly
              />
              <textarea
                class="materialize-textarea"
                v-model="formData.questions"
                placeholder="Questions:"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer" :class="{'is-contacting':isContacting}">
          <ul>
            <li class="right">
              <input
                class="btn-flat indigo-text"
                type="button"
                @click.prevent="performSubmit"
                value="Submit"
              />
            </li>
            <li class="right">
              <a class="waves-effect waves-green btn-flat" @click.prevent="closeModal">close</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h5
      class="col s12 center indigo-text moredivider"
      v-if="similiarProducts.length >  0"
    >More Like This</h5>
    <div class="col s12 moreLike">
      <theproduct v-for="product in similiarProducts" :key="product.id" :product-data="product"></theproduct>
    </div>
  </div>
</template>

<script>
const __token = document.querySelector('meta[name="csrf-token"]').content;
import { Carousel, Slide } from "vue-carousel";
import M from "materialize-css";
import theproduct from "../components/theproduct.vue";
// @ is an alias to /src

export default {
  name: "productPage",
  props: {
    product: {
      type: [Array, Object],
      default: () => {
        [];
      },
    },
    similiarProducts: {
      type: [Array, Object],
      default: () => {
        [];
      },
    },
  },
  components: {
    Carousel,
    Slide,
    theproduct,
  },
  data() {
    return {
      focusImageUri: this.product.images[0].uri,
      materialBox: {
        instance: null,
        options: {},
      },
      modal: {
        instance: null,
        options: {
          opacity: 0.7,
          dismissible: true,
        },
      },
      formData: {
        product_id: this.product.id,
        fname: "",
        lname: "",
        email: "",
        phone: "",
        questions: "",
      },
      formErrors: [],
      isContacting: false,
    };
  },
  mounted() {
    this.$_initMaterialBox();
    this.$_initmodal();
  },
  beforeDestroy() {
    this.materialBox.instance.destroy();
  },
  computed: {},
  methods: {
    addEnq(prodprice) {
      if (prodprice <= 0) {
        return "Enquire";
      } else {
        return "$" + prodprice + "USD";
      }
    },
    noMilage(vehmilage) {
      if (vehmilage <= 0) {
        return "N/A";
      } else {
        return vehmilage;
      }
    },
    changeFocusImage(uri) {
      this.focusImageUri = uri;
    },
    $_initMaterialBox() {
      let el = this.$el.querySelector(".materialboxed");
      this.materialBox.instance = M.Materialbox.init(
        el,
        this.materialBox.options
      );
    },
    formatDate(date) {
      return moment(date).format("MMM Do YYYY");
    },
    $_initmodal() {
      let elem = this.$refs.banner;
      this.modal.instance = M.Modal.init(elem, this.modal.options);
    },
    openModal() {
      this.modal.instance.open();
    },

    performSubmit() {
      this.isContacting = true;
      axios
        .post("/api/order/create", {
          headers: {
            "X-CSRF-TOKEN": __token,
          },
          product_id: this.formData.product_id,
          first_name: this.formData.fname,
          last_name: this.formData.lname,
          email: this.formData.email,
          phone: this.formData.phone,
          questions: this.formData.questions,
        })
        .then((response) => {
          // Was it a success?
          if (response.status === 200) {
            // Show success toast
            M.toast({ html: response.data, classes: "green" });

            this.closeModal();
          }
          // Is there any errors?
          if (response.status === 201) {
            // Set error messages
            this.isContacting = false;

            this.formErrors = response.data;
          }
        })
        .catch((error) => {
          this.isContacting = false;
          this.formErrors = [];
          M.toast({
            html: "Failed To Contact Supplier. Try Again",
            classes: "red",
          });
        });
    },
    closeModal() {
      this.isContacting = false;
      // Reset error and success messages
      this.formErrors = [];

      // Resets form data if any there's any.
      this.formData.fname = "";
      this.formData.lname = "";
      this.formData.email = "";
      this.formData.phone = "";
      this.formData.questions = "";

      // Close the modal
      this.modal.instance.close();
    },
  },
};
</script>
<style scoped>
.moreLike {
}
.moredivider {
  padding: 3px;
  border-top: blue solid 1px;
  border-bottom: blue solid 1px;
  margin-bottom: 50px;
  /* margin-top: 150px; */
  margin-top: 4rem;
}
.productPage {
  margin-top: 20px !important;
}
.prodimage {
  height: 100px !important;
  width: 100px !important;
}
.focusedImg {
  height: 100% !important;
  width: 100% !important;
  margin-bottom: 1rem;
}
.slidePad {
  width: 90px !important;
  height: 90px !important;
  margin: 0 10px 0 0 !important;
  flex-basis: 30%;
  /* flex-basis: 100px !important; */
  /* transform: translate(-165px, 0px) !important; */
}
.contBtn {
  margin-top: 50px;
}
input {
  margin-bottom: 30px !important;
}

input[type="text"]:focus {
  box-shadow: #3949ab 0 2px 0 !important;
  border: none !important;
}

textarea:focus {
  box-shadow: #3949ab 0 2px 0 !important;
  border: none !important;
}

.validation-errors {
  margin-bottom: 1rem;
  text-align: center;
  color: red;
}

.success-message {
  margin-bottom: 1rem;
  text-align: center;
  color: green;
}

.is-contacting {
  pointer-events: none !important;
}
.progress {
  margin: 0 !important;
}
.slidePad .active {
  transform: translate(-165px, 0px) !important;
}
@media only screen and (max-width: 425px) {
  .slidePad {
    width: 100px !important;
    height: 100px !important;
    margin: 0 5px 0 -5px !important;
    /* flex-basis: 100px !important; */
    /* transform: translate(-165px, 0px) !important; */
  }
  .prodimage {
    height: 75px !important;
    width: 75px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .slidePad {
    flex-basis: 25% !important;
  }
}
</style>