<template>
  <blockquote class="row white section">
    <h2 class="center indigo-text">About Us</h2>
    <h5 class="blockquote center grey-text">
      IFF is committed to offering competitive rates and quick service to all our customers.
      <br />
      <br />Service tailored to your needs
      <br />
      <br />We intend to work hard to understand your needs in order to deliver low costs to you and a productive, long-term partnership.
      <br />
      <br />At IFF we realise that all family members are different therefore our approach towards your needs must be constantly changing. By staying close to your business, we aim to develop our services to match your changing needs. That way we can continue to offer you the best of our services – whatever you need, we want to bring it to you CHEAP.
    </h5>
  </blockquote>
</template>

<script>
export default {
  name: "about",
  props: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h5 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 25px;
}
</style>
