<template>
  <section class="section section-categories grey lighten-2 white text center">
    <div class="catContent">
      <h2 class="indigo-text">Categories</h2>
      <div class="cardsContainer">
        <div v-for="(category) in categories" :key="category.id">
          <CategoryCard :category-data="category"></CategoryCard>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import CategoryCard from "./CategoryCard";
import { mapState } from "vuex";
export default {
  name: "categories",
  props: {
    categories: {
      type: Array,
      default: [],
    },
  },
  components: {
    CategoryCard,
  },
  data() {
    return {};
  },
  created() {},
  mounted() {},
  computed: {},

  methods: {},
};
</script>
<style scoped>
.catContent {
  width: 90% !important;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.cardsContainer {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
