<template>
  <div class="hoverable card-panel" @click="goToStore(data.slug)">
    <i class="material-icons large indigo-text">{{getIcon(data.name)}}</i>
    <h4 class="indigo-text">{{ data.name }}</h4>

    <!-- <p>{{ data.description }}</p> -->
    <!-- <div class="center-align card-action" @click="goToStore(data.name)">
      <a v-on:click.self.prevent class="btn waves-effect waves-light indigo" ref="#">Go to</a>
    </div>-->
  </div>
</template>

<script>
export default {
  props: ["categoryData"],
  data() {
    return {
      data: this.categoryData,
    };
  },
  created() {},

  methods: {
    getIcon(name) {
      switch (name) {
        case "Appliances":
          return "electrical_services";
          break;
        case "Furniture":
          return "weekend";
          break;
        case "Home Decor":
          return "filter_vintage";
          break;
        case "Machinery":
          return "miscellaneous_services";
          break;
        case "Vehicles & Accessories":
          return "local_shipping";
          break;
        case "Other":
          return "device_hub";
          break;
        case "Consumer Electronics":
          return "devices_other";
          break;
        case "Tools & Equipment":
          return "handyman";
          break;
        default:
          return "store";
          break; //add default icon here.
      }
    },

    goToStore(slug) {
      window.location.href = `/store/${slug}`;
    },
  },
};
</script>
<style scoped>
.card-panel {
  width: 330px !important;
  height: 330px !important;
  margin: 30px 20px 0 20px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
</style>
