<template>
  <footer id="footerScroll" class="indigo white-text" v-if="isValidRoute">
    <div class="container">
      <div class="row">
        <div class="border col l6 s12">
          <h4 class="center">We'd love to help</h4>

          <div
            class="form-errors"
            v-for="(error,index) in formErrors"
            :key="index"
          >{{ formatError(error[0])}}</div>
          <div id="footer-form">
            <div class="contact-overlay" v-if="isContacting">
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input_field left s12 col l5" style="padding: 0!important">
              <input type="text" v-model="contactForm.fname" placeholder="First Name:" required />
            </div>

            <div class="input_field col s12 l5 right" style="padding: 0!important">
              <input type="text" v-model="contactForm.lname" placeholder="Last Name:" required />
            </div>
            <div class="input_field">
              <input type="email" v-model="contactForm.email" placeholder="Email:" required />
            </div>
            <div class="input_field">
              <input type="number" v-model="contactForm.phone" placeholder="Phone:" required />
            </div>
            <div class="input_field">
              <input type="text" v-model="contactForm.topic" placeholder="Topic:" required />
            </div>
            <div class="input_field">
              <textarea
                class="materialize-textarea"
                v-model="contactForm.details"
                placeholder="Details:"
                required
              ></textarea>
            </div>
            <div style="display:flex; justify-content:flex-end;">
              <button class="btn waves-effect waves-light blue" @click.prevent="sendMessage()">
                Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
        <div class="col l4 s12 offset-l2 s12">
          <h5 class>Contact Us</h5>
          <ul class="bold_text">
            <li>
              <b>Phone:</b>+1 929 370-6716
            </li>
            <li>
              <b>Email:</b>contact@importedfromflorida.co
            </li>
            <li>
              <b>Facebook:</b>Imported From Florida
            </li>
          </ul>
          <div class="places">
            <h5>Places</h5>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/store">Store</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div>© 2020 Imported From Florida</div>
      </div>
    </div>
  </footer>
</template>

<script>
// Gets  CSRF Token
const __token = document.querySelector('meta[name="csrf-token"]').content;
export default {
  name: "Foot",
  data() {
    return {
      contactForm: {
        fname: "",
        lname: "",
        email: "",
        phone: "",
        topic: "",
        details: "",
      },

      formErrors: [],
      isContacting: false,
    };
  },
  computed: {
    isValidRoute: function () {
      let resolved = this.$router.resolve(this.$router.currentRoute);
      if (resolved.route.name != "NotFound") {
        return true;
      }
    },
  },
  methods: {
    formatError(error) {
      if (error === "The fname field is required.") {
        return "The first name field is required.";
      } else if (error === "The lname field is required.") {
        return "The last name field is required.";
      } else {
        return error;
      }
    },
    sendMessage() {
      this.isContacting = true;
      axios
        .post("api/contact", {
          headers: {
            "X-CSRF-TOKEN": __token,
          },
          fname: this.contactForm.fname,
          lname: this.contactForm.lname,
          email: this.contactForm.email,
          phone: this.contactForm.phone,
          topic: this.contactForm.topic,
          details: this.contactForm.details,
        })
        .then((response) => {
          this.isContacting = false;
          // Was it a success?
          if (response.status === 200) {
            // Show success toast
            M.toast({ html: response.data, classes: "green" });

            // Reset form
            this.resetForm();
          }
          // Is there any errors?
          if (response.status === 201) {
            // Set error messages
            this.isContacting = false;
            this.formErrors = response.data;
          }
        })
        .catch((error) => {
          // Reset Form
          this.isContacting = false;
          this.formErrors = [];
          M.toast({
            html: "Failed To Send Message. Try Again.",
            classes: "red",
          });
        });
    },
    resetForm() {
      this.isContacting = false;
      this.formErrors = [];

      this.contactForm.fname = "";
      this.contactForm.lname = "";
      this.contactForm.email = "";
      this.contactForm.phone = "";
      this.contactForm.topic = "";
      this.contactForm.details = "";
    },
  },
};
</script>

<style scoped>
.places {
  margin-top: 30px !important;
}

footer textarea {
  height: 100px !important;
}

.bold_text li b {
  margin-right: 10px !important;
}

footer li {
  margin-bottom: 3px !important;
}

.places li a {
  color: #03a9f4 !important;
}

.footer-copyright > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

input,
textarea {
  color: white;
}

.form-errors {
  margin-bottom: 1rem;
  text-align: center;
  color: #f86c6c;
}

#footer-form {
  position: relative;
}

.contact-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  backdrop-filter: blur(1px);
  z-index: 20;
}

/* MEDIA QUERIS */

@media screen and (min-width: 600px) {
  .footer-copyright > .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
</style>