<template>
  <div>
    <ul class="sidenav" ref="navBar" id="mobile-demo">
      <li class="sidenav-close">
        <a href="/">Home</a>
      </li>
      <li class="sidenav-close">
        <a href="/store">Store</a>
      </li>
      <li class="sidenav-close">
        <a href="#" v-scroll-to="'#footerScroll'">Support</a>
      </li>
      <li v-if="isAuth">
        <a class="blue-text" href="/admin">Dashboard</a>
      </li>
    </ul>
    <div class="navbar-fixed">
      <nav class="indigo">
        <div class="nav_wrapper">
          <!-- logo here -->
          <a href="/" class="brand-logo center">
            <img src="/assets/logo2.png" alt="logo" width="64" height="62" />
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger left">
            <i class="material-icons white-text">menu</i>
          </a>
          <!-- Dropdown Structure for desktop view -->
          <ul id="dropdown1" class="dropdown-content">
            <li>
              <a class="blue-text" href v-scroll-to="'#footerScroll'">Support</a>
            </li>
            <li class="blue-text divider"></li>
            <li class="blue-text divider"></li>
            <li v-if="isAuth">
              <a class="blue-text" href="/admin">Dashboard</a>
            </li>
          </ul>
          <ul class="hide-on-med-and-down" v-if="$route.path.match('/store')">
            <li class="left">
              <div class="valign-wrapper searchBox" :class="{activeSearchbox: searchQuery}">
                <input
                  class="searchInput"
                  :class="{activeSearch: searchQuery}"
                  type="text"
                  v-model="searchQuery"
                  placeholder="Search"
                />
                <button class="center searchButton" @click="performSearch()">
                  <i class="material-icons">search</i>
                </button>
              </div>
            </li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li>
              <a v-on:click.self.prevent class="dropdown-trigger" href="#" data-target="dropdown1">
                Features
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/store">Store</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import scrollto from "vue-scrollto";
import M from "materialize-css";
export default {
  name: "headerNav",
  props: {
    isAuth: {
      type: Number,
      default: false,
    },
  },
  data() {
    return {
      sideNav: {
        instance: null,
        options: {
          edge: "left",
          preventScrolling: false,
          draggable: true,
        },
      },
      dropdown: {
        instance: null,
        options: {},
      },
      searchQuery: this.$route.query.sq,
    };
  },
  beforeDestroy() {
    this.slider.instance.destroy();
    this.dropdown.instance.destroy();
  },
  mounted() {
    this.$_initSidenav();
    this.$_initDropdown();
  },
  computed: {},
  methods: {
    $_initSidenav() {
      let elem = this.$refs.navBar;
      this.sideNav.instance = M.Sidenav.init(elem, this.sideNav.options);
    },
    $_initDropdown() {
      let el = this.$el.querySelector(".dropdown-trigger");
      this.dropdown.instance = M.Dropdown.init(el, this.dropdown.options);
    },
    performSearch() {
      if (this.searchQuery) {
        window.location.href = this.$route.path + `?sq=${this.searchQuery}`;
      } else {
        window.location.href = "/store";
      }
    },
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.active {
  background-color: white !important;
}

.center .row {
  margin-bottom: 0 !important;
}

.autocomplete {
  border-bottom: none !important;
}
.brand-logo img {
  width: 66px !important;
  height: 64px !important;
}
.searchBox {
  position: absolute !important;
  bottom: 50% !important;
  left: 1% !important;
  transform: translate(0, 50%) !important;
  background: #3f51b5 !important;
  height: 40px !important;
  border-radius: 50px !important;
  border: 1px solid white !important;
  padding: 15px 10px 10px 10px !important;
}

.searchBox:hover {
  background: white !important;
}
.searchBox:hover > .searchInput {
  width: 240px !important;
  padding: 0 6px !important;
}

.searchBox:hover > .searchButton {
  background: #3f51b5 !important;
  color: white !important;
}

.searchButton {
  color: white !important;
  float: right !important;
  height: 30px !important;
  border-radius: 100px !important;
  background: white !important;
  display: flex !important;
  justify-content: center !important;
  border: outset 2px white;
  align-items: center !important;
  transition: 0.4s !important;
  margin-bottom: 5px !important;
}

.searchButton i {
  color: #3f51b5;
}

.searchBox:hover > .searchButton i {
  color: white;
}

.searchInput {
  box-shadow: none;
  border: none !important;
  background: none !important;
  outline: none !important;
  float: left !important;
  padding: 0 !important;
  color: black !important;
  font-size: 16px !important;
  transition: 0.4s !important;
  line-height: 40px !important;
  width: 0px !important;
}
.activeSearchbox {
  background-color: white !important;
}
.activeSearch {
  width: 230px !important;
}
@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px !important;
    padding: 0 6px !important;
  }

  input:focus {
    outline: none;
  }
}

input[type="text"]:focus {
  box-shadow: none !important;
  border: none !important;
}
#dropdown1 {
  top: 50px !important;
}
</style>
