<template>
  <div>
    <section class="white section hide-on-small-only center">
      <div class="container">
        <div class="row" style="position:relative">
          <h2 class="indigo-text">Search Imported From Florida</h2>
          <div class="valign-wrapper">
            <div class="input-field">
              <input
                type="text"
                class="black-text autocomplete"
                v-model="searchQuery"
                placeholder="What are you trying to find?"
              />
            </div>
            <a :href="`/store?sq=${searchQuery}`" class="btn indigo searchBtn">
              <h6>Search</h6>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "search",
  props: {},
  data() {
    return {
      searchQuery: null,
    };
  },
  created() {},
  methods: {
    performSearch() {},
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input-field {
  margin-top: 30px !important;
  width: 90% !important;
  height: 48px !important;
  z-index: 1;
}

.input-field input {
  /* border-radius: 50px !important; */
  border: black solid 1px !important;
  box-shadow: #404040 -2px 0 10px !important;
  padding-left: 15px;
  border-radius: 50px 0 0 50px;
}

.searchBtn {
  position: relative !important;
  top: 6.2px;
  right: -6px;
  /* border-radius: 50px; */
  height: 48px;
  width: 150px;
  box-shadow: #404040 2px 0 10px !important;
  border-radius: 0 50px 50px 0;
  z-index: 2;
}

h6 {
  margin-top: 14px;
  text-transform: none !important;
}
</style>
