<template>
  <div class="slider" ref="banner">
    <ul class="slides">
      <li>
        <img src="/assets/family-min.jpg" />
        <!-- random image -->
        <div class="caption left-align">
          <h3>Our Customers Our family</h3>
          <h5 class="hide-on-small-only light grey-text text-lighten-3">
            A company started on the unity and
            bond of family.
          </h5>
        </div>
      </li>
      <li>
        <img src="/assets/box-min.jpg" />
        <!-- random image -->
        <div class="caption center-align">
          <h3>We deliver on time.</h3>
          <h5 class="hide-on-small-only light grey-text text-lighten-3">
            We believe that time is your most
            valuable asset. So we handle your delivery with a sense of urgency.
          </h5>
        </div>
      </li>
      <li>
        <img src="/assets/afford-min.jpg" />
        <!-- random image -->
        <div class="caption right-align">
          <h3>Quality and Affordablity</h3>
          <h5 class="hide-on-small-only light grey-text text-lighten-3">
            We offer the finest quality of new and
            used products to ensure customer satisfaction.
          </h5>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import M from "materialize-css";
export default {
  name: "slider",
  props: {},
  data() {
    return {
      slider: {
        instance: null,
        options: {
          duration: 550
        }
      }
    };
  },
  mounted() {
    this.$_initSlider();
  },
  beforeDestroy() {
    if (this.slider.instance !== null) {
      this.slider.instance.destroy();
    }
  },
  methods: {
    $_initSlider() {
      let elem = this.$refs.banner;
      this.slider.instance = M.Slider.init(elem, this.slider.options);
    }
  }
};
</script>
<!-- Add "scoped" attribute -to limit CSS to this component only -->
<style scoped>
.slider {
  margin-bottom: 30px;
}

.active {
  background-color: blue !important;
}
</style>
