<template>
  <div class="social_links">
    <ul class="right">
      <li id="facebook">
        <a class="blue-background" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li id="instagram">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li id="twitter">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "social",
  props: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.social_links ul li .blue-background {
  background-color: blue !important;
}
.social_links ul li .blue-background i {
  color: white !important;
}
.social_links {
  position: absolute !important;
  width: 100% !important;
  top: 136px !important;
  z-index: 2 !important;
  right: 5px !important;
}
.social_links li a {
  font-size: 20px !important;
}
.social_links li {
  margin-bottom: 10px !important;
}
.social_links ul li a {
  position: relative !important;
  display: block !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  text-align: center !important;
}
#instagram a {
  color: red !important;
}
#gmail a {
  color: black !important;
}
</style>
