<template>
  <div class="thefilter">
    <div class="filterdiv">
      <div class="fields">
        <select class="slectfield" name="key" id="key">
          <option value>Select Make</option>
          <option value="49">AUDI</option>
          <option value="50">BMW</option>
          <option value="68">DAIHATSU</option>
          <option value="52">HINO</option>
          <option value="39">HONDA</option>
          <option value="40">ISUZU</option>
          <option value="90">KAWASAKI</option>
          <option value="73">LAND ROVER</option>
          <option value="41">MAZDA</option>
          <option value="211">MERCEDES BENZ</option>
          <option value="37">MITSUBISHI</option>
          <option value="38">NISSAN</option>
          <option value="76">PEUGEOT</option>
          <option value="126">RENAULT</option>
          <option value="86">ROVER MINI</option>
          <option value="46">SUBARU</option>
          <option value="45">SUZUKI</option>
          <option value="59">TADANO</option>
          <option value="64">VOLKSWAGEN</option>
          <option value="36">TOYOTA</option>
        </select>
      </div>
      <div class="fields price_range">
        <div>
          <select name="price_from" id="price_from" class="form-control">
            <option value>Price From</option>
            <option value="500">500 USD</option>
            <option value="1000">1,000 USD</option>
            <option value="2000">2,000 USD</option>
            <option value="3000">3,000 USD</option>
            <option value="5000">5,000 USD</option>
            <option value="10000">Above 10,000 USD</option>
          </select>
        </div>
        <div>
          <select name="price_to" id="price_to" class="form-control">
            <option value>Price To</option>
            <option value="500">Under 500 USD</option>
            <option value="1000">1,000 USD</option>
            <option value="2000">2,000 USD</option>
            <option value="3000">3,000 USD</option>
            <option value="5000">5,000 USD</option>
            <option value="10000">10,000 USD</option>
          </select>
        </div>
      </div>
      <div class="fields">
        <select name="maker_id[]" id="maker_id_breif" class="form-control">
          <option value>All Model</option>
          <option value="1217">ALLION</option>
          <option value="1234">ALPHARD</option>
          <option value="1235">ARISTO</option>
          <option value="1932">AURIS</option>
          <option value="1242">CARINA</option>
          <option value="1243">CELICA</option>
          <option value="1245">CHASER</option>
          <option value="1216">COROLLA AXIO</option>
          <option value="1246">COROLLA FIELDER</option>
          <option value="1248">COROLLA SPACIO</option>
          <option value="1252">CRESTA</option>
          <option value="1253">CROWN</option>
          <option value="3835">Crown Athlete Series</option>
          <option value="1978">CROWN MAJESTA</option>
          <option value="1283">FORKLIFT</option>
          <option value="1225">HARRIER</option>
          <option value="1223">HIACE COMMUTER</option>
          <option value="2003">HIACE VAN</option>
          <option value="1474">HIACE WAGON</option>
          <option value="1263">IPSUM</option>
          <option value="1939">ISIS</option>
          <option value="1262">IST</option>
          <option value="1264">LAND CRUISER</option>
          <option value="1267">LAND CRUISER PRADO</option>
          <option value="1276">MARK II</option>
          <option value="1290">MARK X</option>
          <option value="2098">MARK X ZIO</option>
          <option value="2343">MR2</option>
          <option value="1227">NOAH</option>
          <option value="1295">PASSO</option>
          <option value="2335">PIXIS EPOCH</option>
          <option value="1296">PLATZ</option>
          <option value="1832">PORTE</option>
          <option value="1221">PREMIO</option>
          <option value="1938">PROBOX VAN</option>
          <option value="2240">PROBOX WAGON</option>
          <option value="1473">RACTIS</option>
          <option value="1312">RAUM</option>
          <option value="1321">RAV4</option>
          <option value="1490">REGIUS ACE</option>
          <option value="2002">REGIUS VAN</option>
          <option value="3514">SERA</option>
          <option value="1829">SIENTA</option>
          <option value="1331">SOARER</option>
          <option value="1228">STARLET</option>
          <option value="2209">SUCCEED VAN</option>
          <option value="1970">SUCCEED WAGON</option>
          <option value="1347">SUPRA</option>
          <option value="3071">TOWNACE NOAH</option>
          <option value="1476">VELLFIRE</option>
          <option value="1350">VITZ</option>
          <option value="1352">VOXY</option>
          <option value="1229">WISH</option>
        </select>
      </div>

      <div class="fields">
        <select name="drive" id="drive" class="form-control">
          <option value>RHD/LHD</option>
          <option value="Left Hand">Left Hand</option>
          <option value="Right Hand">Right Hand</option>
        </select>
      </div>
      <div class="fields year_range">
        <div>
          <select name="year_from" id="year_from" class="form-control">
            <option value>Year From</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
          </select>
        </div>
        <div>
          <select name="year_to" id="year_to" class="form-control">
            <option value>Year To</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
          </select>
        </div>
      </div>
      <div class="fields">
        <select name="type_id[]" id="type_id" class="form-control">
          <option value>Select Type</option>
          <option value="38">Hatchback</option>
          <option value="131">Van</option>
          <option value="19">SUV</option>
          <option value="132">Sedan</option>
          <option value="135">Minivan</option>
          <option value="138">STATION WAGON</option>
          <option value="87">Wagon</option>
          <option value="124">Sports Cars</option>
          <option value="91">Coupe</option>
          <option value="133">Truck</option>
          <option value="92">Mini Vehicle</option>
          <option value="90">Convertible</option>
          <option value="23">Machinery</option>
          <option value="22">Bus</option>
          <option value="102">Others</option>
          <option value="27">Bikes</option>
          <option value="115">Ambulance</option>
          <option value="25">Pickup</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "the filter",
  data() {
    return {};
  },
  mounted() {},
};
</script>


<style scoped>
.select-wrapper {
  font-size: 14px !important;
}
.filterdiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0 Auto;
}
.fields {
  width: 284px;
  margin: 12px;
}
.year_range {
  display: flex;
  justify-content: space-between;
}
.year_range div {
  margin: 4px;
}
.price_range {
  display: flex;
  justify-content: space-between;
}
.price_range div {
  margin: 4px;
}
</style>
