<template>
  <a :href="`/product/${product.slug}`" class="col s12 m6 l3">
    <div class="card z-depth-1">
      <div class="card-image">
        <img :src="product.images[0].uri" />
      </div>
      <div class="card-content" style="padding: 0; height: 80px;">
        <div class="row" style="margin: 0!important; height:100%;">
          <div
            ref="cardTitleWrapper"
            class="col s12"
            style="padding: 1rem!important; overflow: hidden !important;"
          >
            <span
              class=" black-text card-title"
              style="white-space:nowrap; margin:0!important;"
            >{{initTruncate(product.name)}}</span>
            <div class="black-text">{{addEnq(product.price)}}</div>
          </div>

          <!-- <div
            class="col s3"
            style="1px solid grey; height:100%; display:flex; align-items:center; justify-content:center;"
          >
            <a :href="`/product/${product.slug}`">
              <div class="btn-view-wrapper">
                <i class="material-icons">arrow_forward</i>
              </div>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </a>
</template>

<script>
// Gets  CSRF Token
const __token = document.querySelector('meta[name="csrf-token"]').content;

export default {
  name: "theproduct",
  props: {
    productData: {},
  },
  components: {},
  data() {
    return {
      product: this.productData,
      modal: {
        instance: null,
        options: {
          opacity: 0.7,
          dismissible: true,
        },
      },

      formErrors: [],
      isContacting: false,
    };
  },
  methods: {
    addEnq(prodprice) {
      if (prodprice <= 0) {
        return "Enquire";
      } else {
        return "$" + prodprice + "USD";
      }
    },

    initTruncate(string) {
      if (this.product.name.length > 23) {
        let sliced = this.product.name.slice(0, 18) + "...";
        return sliced;
      } else {
        return string;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.activator {
  padding-left: 5px;
}

.btn-view-wrapper {
  height: 35px;
  width: 35px;
  color: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #cdcfd8;
}

.btn-view-wrapper:hover {
  transition: 200ms all ease-in;
  border-color: #3f51b5;
}

.trans_pros {
  position: relative !important;
  bottom: 21px !important;
  left: 196px !important;
  width: 100px !important;
}
input {
  margin-bottom: 30px !important;
}

input[type="text"]:focus {
  box-shadow: #3949ab 0 2px 0 !important;
  border: none !important;
}

textarea:focus {
  box-shadow: #3949ab 0 2px 0 !important;
  border: none !important;
}

.validation-errors {
  margin-bottom: 1rem;
  text-align: center;
  color: red;
}

.success-message {
  margin-bottom: 1rem;
  text-align: center;
  color: green;
}

.is-contacting {
  pointer-events: none !important;
}
.progress {
  margin: 0 !important;
}

/* .card-body {
  display: flex !important;
  flex-direction: column !important;
  height: 114px !important;
} */

/* .card-body > div {
  text-align: center;
  padding: 5px 0;
} */
.card-body > div > h5 {
  margin: 0 !important;
}
.card-title {
  font-weight: 400 !important;
}
/* @media only screen and (max-width: 768px) {
  .trans_pros {
    left: 296px !important;
  }
} */
</style>
